.footer{
    background-color: $colorDark;
    background-image:url('../../assets/img/pictures/footerF.png') ;

    background-position-x:center ; 
    background-size: cover;
    width: 100%;
    color:$colorPri;
    padding:50px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}
.divBrandPFooter{
    display: none;
}

.divInfoFooter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.divInfoFooter h4{
    text-align: start;
}

.divRedesFooter{
    display: none;
}
.footer span{
    color:white;
    font-weight: 300;
}

.ulFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 0 15px 0;
 
}

.footer li{
    color: white;
    text-decoration: none;
    list-style: none;
}

.divDerechos{
    background-color: $colorDark;
    border-top: 1px solid white;
    color:white;
    padding: 20px;
    font-size: small;
    font-weight: 300;
}

.divImgsTxtsFooter{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.divImgTxtFooter{
    display: flex;
    gap:10px;
    align-items: flex-start;
}

.divImgTxtFooter img{
    width: 25px;
    height: 30px;
}


@media(min-width: 768px){
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }
    .divBrandPFooter p{
        line-height: 23px;
    }
}

@media(min-width: 1024px){
    .divBrandPFooter {
        width: 270px;
        display: flex;
        flex-direction: column;
        height: 320px;
        justify-content: space-evenly;
    }

    .divBrandPFooter img{
        width: 270px;
    }
    .divRedesFooter{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 60px;
        justify-content: flex-end;
    }
    .divRedesFooter div{
        display: flex;
        gap: 15px;
    }
    .ulFooter{
        padding: 15px 0 15px 76px;
    }
}