.fondoUno{
    background-image: url('../../assets/img/pictures/homeMobile.jpg');
    background-repeat: round;
    height: 670px;
    color: $colorWhite;
    position: relative;
}

.divCta{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 110px 20px 0 20px;
}

.divCta h1{
 font-size: xx-large;
 font-family: 'Oswald', sans-serif;
 font-family: 'Work Sans', sans-serif;
}

.divCta h1 span{
    color: $colorPri;
    font-size: xxx-large;
}
.cervezaCTA {
    width: 205px;
    position: absolute;
    left: 10%;
    bottom: 8%;
}
.divBtnCta{
    display: flex;
    flex-direction: column;
    width: 130px;
    gap: 20px;
    justify-content: center;
    position: absolute;
    left: 60%;
    bottom: 16%;
}
.divBtnCta a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    width: 120px;
    padding: 10px;
}

.divImgBtnCta{
    display: flex;
    padding: 25px;
    justify-content: center;
}

.divLupuloCTA{
    display: none;
}


@media(min-width: 425px){
    .cervezaCTA{
        right: 18%;  
        width: 225px;
        left: 13%;
    }
}
@media(min-width: 525px){
    .divBtnCta{
        width: 220px;
        bottom: 17%;
    }
    .cervezaCTA{
        width: 245px;
        left: 15%;
    }
}

@media(min-width: 600px){
    .cervezaCTA{
        width: 280px;
    }

    .divImgBtnCta{
        padding: 40px;

        
    }

    .fondoUno{
        background-image: url('../../assets/img/pictures/homeTablet.jpg');
        background-repeat: round;
        height: 730px;

    }

}

@media(min-width: 768px){
    .cervezaCTA{
        width: 360px;
    }
    .fondoUno{
        height: 870px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .fondoUno h1{
        font-size: 45px;
    }
    .fondoUno p,
    .fondoUno h4{
        font-size: larger;
    }
    .divCta {
        padding: 110px 150px 0 150px;
    }
    .divBtnCta {
        font-size: x-large;
    }
    .divBtnCta a{
        width: 160px;
        padding: 13px;
    }
    .divLupuloCTA{
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: space-between;
    }
}
@media(min-width: 950px){
    .cervezaCTA{
        width: 390px;
        left: 21%;
    }
    .divBtnCta{
        bottom: 24%;
    }
}
@media(min-width: 1024px){

    .fondoUno{
        flex-direction: row;
        background-image: url('../../assets/img/pictures/home.jpg');
        background-repeat: round;
        justify-content: center;
        height: 655px;
        position: relative;
    }
    .divImgBtnCta{
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        padding: 0;
    }
    .divBtnCta{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 25%;
        bottom: 15%;
    }
    .divCta {
        padding: 131px 30% 0 0;
        width: 75%;
        gap: 20px;
    }
    .divImgBtnCta img{
        position: absolute;
        bottom: 8%;
        left: 53%;
        width: 423px;
    }
}

@media(min-width: 1200px){
    .fondoUno{
        height: 770px;
    }
    .divBtnCta h1 span{
        font-size: 70px;
    }
    .divCta {
        padding: 174px 30% 0px 0;
        width: 64%;
        gap: 30px;
    }
    .divBtnCta{
        left:27%;
    }
    .divImgBtnCta img {
        width: 450px;
    }
    
}