.divSection{
    width: 100%;
    height:3300px;
    background-image: url("../../assets/img/pictures/fondoTresopacoD.jpg");
    background-size: auto;
    background-attachment: fixed;
 
}


.divSectionUno{
    width: 100%;
    height:630px;
    background-image: url("../../assets/img/pictures/fondoFabrica.jpg");
    background-size: cover;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divImgSection{
    display: none;
}

.divDivSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.divDivSectionInfo{
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.divDivSectionInfo span{
    color: $colorPri;
}


.divDivSectionInfo p{
    font-size: large;
    line-height: 1.5;
}
.divDivSectionBtn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
 
.divDivSectionBtn button{

    text-decoration: none;
    color: white;
    width: 120px;
    padding: 10px;
    font-size: medium;
    background-color: $colorDark;
}

.imgSectionUno{
    position: absolute;
    left: 18%;
    top: 27%;
    opacity: 0.2;

}

.divSectionDos{

    width: 100%;
    height:600px;
    border: 1px solid black;
    text-align: center;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}
.divSectionDos h2,
.divSectionDos p{
    color: white;
}
.divSectionDos img{
    width: 260px;
}
.divSectionDos button{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    
    padding: 15px;
    background-color: transparent;
    font-size: medium;
}
.divSectionDos span{
    color: $colorPri;
}

.divSectionTres{
    background-image: url("../../assets/img/pictures/fondoClaro.jpg");
    width: 100%;
    height:2085px;
    padding: 65px 10px;
}
.circulo{
    width: 150px;
    height: 150px;
    border-radius: 90px;
    background-color: $colorPri;
    z-index: 1;
    position: absolute;
    top:11%;      
}

.divSectionFabrica{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.divEtapaFabrica{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;

}

.divImgMolienda{
    width: 80px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.divEtapaFabrica img{
    width: 200px;
    z-index: 2;
}