.divSection{
    width: 100%;
    height:3295px;
    background-image: url("../../assets/img/pictures/fondoTresopacoD.jpg");
    background-size: cover;
    background-attachment: fixed;
 
}


.divSectionUno{
    width: 100%;
    height:530px;
    background-image: url("../../assets/img/pictures/fondoFabrica.jpg");
    background-size: cover;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divImgSection{
    display: none;
}

.divDivSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width:345px ;
    margin: 0 auto;
}

.divDivSectionInfo{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
    margin-top: 30px;
}

.divDivSectionInfo span{
    color: $colorPri;
}


.divDivSectionInfo p{
    font-size: large;
    line-height: 1.5;
}
.divDivSectionBtn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
 
.divDivSectionBtn button{

    text-decoration: none;
    color: white;
    width: 120px;
    padding: 10px;
    font-size: medium;
    background-color: $colorDark;
}

.imgSectionUno{
    position: absolute;
    left: 18%;
    top: 27%;
    opacity: 0.2;

}

.divSectionDos{

    width: 100%;
    height:600px;
    text-align: center;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.divPedirCerveza{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.divSectionDos h2{
    color: white;
}
.divSectionDos p{
    color: white;
    font-size: large;
    padding: 0 20px;
    margin-bottom: 25px;

}
.divSectionDos img{
    width: 260px;
}
.divSectionDos button{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 150px;
    margin: 0 auto;
    padding: 13px;
    background-color: transparent;
    font-size: medium;
}
.divSectionDos span{
    color: $colorPri;
}

.divSectionTres{
    background-image: url("../../assets/img/pictures/fondoClaro.jpg");
    width: 100%;
    height: 2165px;
    padding: 15px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circulo{
    width: 150px;
    height: 150px;
    border-radius: 90px;
    background-color: $colorPri;
    z-index: 1;
    position: absolute;
    top:11%;      
}

.divSectionFabrica{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.divEtapaFabrica{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    padding: 0 20px;

}

.divImgMolienda{
    width: 80px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.divEtapaFabrica img{
    width: 200px;
    z-index: 2;
}
.trigoDown{
    position: absolute;
    bottom: 1%;
}

@media(min-width: 425px){
    .divSection{
        height: 3275px;
    }
    .divSectionUno{
        height: 490px;
        padding: 0;
    }
    .divSectionTres{
        height: 2200px;
    }
    .divEtapaFabrica p{
        width: 290px;
    }
    .trigoDown {

        bottom: 2%;
    }

    
}

@media(min-width: 600px){
    .imgSectionUno{
        left: 33%;
        top: 9%;
    }
    .divSection {
        height: 3150px;
    }
    .divSectionUno{
        height: 405px;
    }
    .divSectionDos{
        height: 550px;
    }
    .divDivSection{
        width: 580px;
    }
}

@media(min-width: 768px){
   
    .divDivSectionInfo h1{
        font-size: 45px;
    }
    .divDivSectionInfo p{
        font-size: x-large;
        padding: 0 50px;
    }
    .divSectionUno {
        height: 530px;
    }
    .divSectionDos {
        height: 350px;
        display: flex;
        flex-direction: row;
        padding: 40px;
        gap:0;
    }
    
    .divPedirCerveza{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .divPedirCerveza p{
        font-size: large;
    }

    .divPedirCerveza button{
        width: 170px;
        font-size: larger;
    }
    .divSectionFabrica{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .divSectionTres {
        justify-content: center;
        gap: 40px;
        height: 1375px;
    }
    .divEtapaFabrica{
        padding: 0 20px;
    }
    .divEtapaFabrica img{
        height: 55%;
    }
    .divDivSection {
        width: 750px;
    }
    .divSection {
        height: 2250px;
    }
}

@media(min-width: 1024px){
    .divImgSection{
        display: inline;
        width: 40%;
        height: 100%;
        background-image: url(../../assets/img/pictures/choperaMaori.jpg);
        background-size: cover;
        background-position: center;
    }

    .divSectionUno{
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        gap: 0;
        padding: 0;
        height: 575px;
    }
    .divImgSection img{
        display: none;
    }
    .divDivSection{
        width: 70%;
        padding: 15px 0;
    }
    .divDivSectionInfo{
        padding-top: 25px;
    }
    .divSectionDos h2{
        font-size: xx-large;
    } 
    .divPedirCerveza{
        gap:60px;
    }
    .divPedirCerveza p {
        font-size: x-large;
    }
    .divPedirCerveza button {
        width: 200px;
        font-size: x-large;
    }
    .divDivSectionBtn button {
        font-size: x-large;
        width: 165px;
    }

}

@media(min-width: 1200px){


}    