.divSectionSDos{
    
    width: 100%;
    height:2000px;
    background-image: url("../../assets/img/pictures/fondoTresopacoD.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.divSectionUnoSDos{
    width: 100%;
    height:565px;

    background-image: url("../../assets/img/pictures/fondoFabrica.jpg");
    background-size: cover;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.divImgSectionSDos{
    display: none;
}

.divDivSectionSDos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.divDivSectionInfoSDos{
    display: flex;
    flex-direction: column;
    gap: 40px; 

}

.divDivSectionInfoSDos p{
    font-size: large;
    line-height: 1.5;
}

.divDivSectionBtnSDos{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px;
}

.divDivSectionBtnSDos button{
    text-decoration: none;
    color: white;
    width: 120px;
    padding: 10px;
    font-size: medium;
    background-color: $colorDark;
}

.imgSectionUnoSDos{
    position: absolute;
    opacity: 0.2;
    bottom: -40px;
    width: 342px;
    overflow: hidden;
}









/****************************/



.divSectionDosSDos{
    width: 100%;
    height:630px;
    background-image: url("../../assets/img/pictures/fondoClaro.jpg");
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}

.divTitleSectionDosSDos{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 0 15px;
}

.divTitleSectionDosSDos h3{
    font-weight: 400;
}

/**////////////////*************////

.divSectionTresSDos{
    color: white;
    font-weight: 300;
    padding: 50px 10px 50px 10px;
}


.trigo{
    width: 170px;
    padding: 10px;
}
.divDivSectionTresSDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


@media(min-width: 425px){
    .imgSectionUnoSDos{
        width: 480px;
    }
}

@media(min-width: 600px){

    .divSectionUnoSDos{
        height: 470px;
        padding-top: 80px;
    }
    .imgSectionUnoSDos {

        right: -20px;
        bottom: -50px;
    }
    .divSectionSDos{
        height: 1730px;
    }
}
@media(min-width: 768px){
    .divDivSectionInfoSDos{
        padding: 20px;
    }
    .divDivSectionInfoSDos p{
        font-size: x-large;
    }
    .divSectionUnoSDos {
        height: 566px;
    }    
    .divDivSectionBtnSDos button {
        width: 135px;
        font-size: x-large;
    }
    .divSectionSDos {
        height: 1800px;
    }
    .divSectionTresSDos{
        padding: 50px;
    } 
} 