.divSwiper{
    background-image: url('../../assets/img/pictures/variedades.png');
    background: #183c55;
}

.swiperUno {
    padding: 30px 0 50px 0 !important;
     background: #183c55;
}
   
   .swiper-slide {
     text-align: center;
     font-size: 18px;
     background-image: url('../../assets/img/pictures/variedades.png');
     background: #183c55;
   
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }
   




   .divImgCer img{
      width: 250px;
   }
 
 
   .divPSlider h3{
     color: white;
     margin: 20px;
   }

@media(min-width: 768px){
  .swiperUno {
    padding: 30px 0 50px 30px !important;
  }
  .mySwiperCerveza{
    width: 600px;
  }


}

   